body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 30px auto;
}

.box {
    width: 100px;
    height: 100px;
    background: coral;
    animation: animate1 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: absolute;
}

/* keyframes are used to define the animation */
@keyframes animate1 {
    from {
        width: 100px;
        background: pink;
        top: 0;
    }

    to {
        width: 500px;
        background: maroon;
        top: 100vh;
    }
}